<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.BD_NOTASConnectionString"
            connectionString="Data Source=.;Initial Catalog=BD_NOTAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SIBS.Properties.Settings.BD_NOTASConnectionString"
            connectionString="Data Source=.;Initial Catalog=Gonper;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>