<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.Conexion" connectionString="Data Source=LAPTOP-5T2HSHGD\SQLEXPRESS;Initial Catalog=SIBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>